services:
    frontend:
        build:
            context: .
        container_name: bun_frontend
        ports:
            - '5173:5173'
        volumes:
            - ./src:/app/src
            - ./public:/app/public
            - ./vite.config.ts:/app/vite.config.ts
            - ./tsconfig.json:/app/tsconfig.json
        command: ['bun', 'run', 'dev', '--host']

    storybook:
        build:
            context: .
        container_name: bun_storybook
        ports:
            - '6006:6006'
        volumes:
            - ./src:/app/src
            - ./.storybook:/app/.storybook
            - ./tsconfig.json:/app/tsconfig.json
        command: ['bun', 'run', 'storybook', '--', '--ci', '--disable-telemetry', '--port', '6006']
