services:
    frontend:
        build:
            context: .
        container_name: bun_frontend
        ports:
            - '5173:5173'
        volumes:
            - .:/app
            - /app/node_modules
        command: ['bun', 'run', 'dev', '--host']

    storybook:
        build:
            context: .
        container_name: bun_storybook
        ports:
            - '6006:6006'
        volumes:
            - .:/app
            - /app/node_modules
        command: ['bun', 'run', 'storybook', '--', '--ci', '--disable-telemetry', '--port', '6006']
